{% load static %}
<hr>
<div class="footer">
                
    <div class="main-logo-nav s"><img src="{% static 'images/logo-img-2.jpg' %}" alt="logo"></div>
        <div class="detail">
            <div class="contact">
                        <p class="part">Contact</p>
                        <p><span class="title">Address: </span>Iran,Kurdistan Province,Sanandaj</p>
                        <p><span class="title">Phone: </span>+989922613695</p>
                        <p><span class="title">Hours: </span>7:00am to 9:00pm</p>
            </div>
            <div class="content">
                        <p class="part">Pages</p>
                        <p><a href="about.html">About</a></p>
                        <p><a href="shop.html">Shop</a></p>
                        <p><a href="cart.html">Cart</a></p>
                        
            </div>
            <div class="follow">
                        <p class="part">Follow Us</p>
                <div class="logos-media">
                            <i class="fa-brands fa-faebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
                <p class="end">© 2024 TIME USA, LLC. All Rights Reserved. Use of this site constitutes acceptance of our
                    Terms
                    of
                    Service</p>
</div>