{% extends 'base.html'%}
{% block title%}About Us{% endblock%}
{% block content%}
    <div data-barba="wrapper">
        <div class="pre-page" data-url="{% url 'home' %}">
            <h4>Go Back</h4>
        </div>
        <div class="welcome-2">
            <h2>#ABOUT US</h2>
        </div>
        <div class="detail-a">
           
            <div class="desc-about">
                We are a passionate team dedicated to providing top-notch solutions in our field. Our mission is to
                deliver
                excellence and innovation to our clients, ensuring they achieve their goals effectively.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt corrupti est, ex, ut architecto ipsum repellendus deleniti voluptatibus porro nulla! Laboriosam illo maxime in asperiores vel ut consequatur accusantium, ad enim, animi nam harum deleniti ipsa. Unde, amet, consequatur optio nostrum nulla voluptate similique non voluptates omnis sint numquam.
            </div>
            <div class='more'>
                <p><span class="title">Address: </span>Iran,Kurdistan Province,Sanandaj</p>
                <p><span class="title">Phone: </span>+989922613695</p>
                <p><span class="title">Hours: </span>7:00am to 9:00pm</p>
            </div>
        </div>
       
       
        
            
    </div>

{% endblock %}