{% extends "base.html" %}
{% block title%}Sign up{% endblock %}
{% block content%}
<div class="pre-page" data-url="{% url 'home' %}">
    <h4>Go Back</h4>
</div>
<div data-barba="wrapper">
   <div class="welcome-2">
       <h2>#SIGN UP</h2>
       
   </div>
   <h3 class='signup-par'>Welcome to our website</h3>
   <div class="detail-a">
      
       <div class='main-form-container'>
        <div class="form-container signup">
            <form method='POST' action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                
                <button type='submit'>Sign up</button>
                
            </form>
        </div>
       </div>
       
   </div>
</div>
{% endblock %}