{% extends "base.html" %}
{% block title%}Edit Password{% endblock %}
{% block header%}
<style>
    .main-form-container{
        height: 34vh !important;
    }
</style>
{% endblock %}
{% block content%}
<div class="pre-page" data-url="{% url 'home' %}">
    <h4>Go Back</h4>
</div>
<div data-barba="wrapper">
   <div class="welcome-2">
       <h2>#UPDATE PASSWORD</h2>
       
   </div>
   <h3 class='signup-par'>Please choice a storng Password</h3>
   <div class="detail-a">
      
       <div class='main-form-container'>
        <div class="form-container signup">
            <form method='POST' action="{% url 'update_password' %}">
                {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2 }}
                
                <button type='submit'>Edit Password</button>
                
            </form>
        </div>
       </div>
       
   </div>
</div>
{% endblock %}