{% extends 'base.html'%}
{% load humanize%}
{% block title%}Confirm{% endblock%}
{% block header%}
<style>
    .back-button{
        font-size: 1rem;
    }
</style>
{% endblock%}
{% block content%}
<div data-barba="wrapper">
    <div class="pre-page" data-url="{% url 'home' %}">
        <h4>Go Back</h4>
    </div>
    <div class="welcome-2">
        <h2>#FINAL CONFIRM</h2>
    </div>
    <center>
        <div class='checkout-section'>
            <div class='header'><h3>Summary of your Orders:</h3></div>
            <div class='footer'>
                {% for product in products %}
                <center>
                    <div class='pro-details'>
                        <div class='name'>{{product.name}}</div>
                        <div class='price'>Price: {% if product.is_sale %}{{product.discountedPrice |intcomma}}{% else %}{{product.price |intcomma}}{% endif %}</div>
                        {% for key,value in quantities.items %}
                            {% if key == product.id|slugify %}
                            <div class='quantity'>Quantity:  {{ value }}</div>
                            {% endif %}
                        {% endfor %}
                        
                        <hr>
                    </div>
                </center>
                
                {% endfor %}
            </div>
               
            <div class='total-price'>
                <h3 class='total-pr'>Totall Products price: <br>{{total_price|intcomma}}</h3>
            </div>
        </div>
        <div class='checkout-section'>
            <div class='header'>Shipping Info:</div>
            <div class='footer'>
                <form method='POST' action='{% url "process_order" %}'> 
                    {% csrf_token %}
                    Full name: {{user_profile.full_name}}<br>
                    Email: {{user_profile.user.email}}<br>
                    Address1: {{shipping_info.address1}}<br>
                    Address2: {{shipping_info.address2}}<br>
                    city: {{shipping_info.city}}<br>
                    <button class='back-button' style='font-size: 1.25rem; margin-top: 1rem; cursor: pointer; color: #fff !important;'>Order & Pay</button>
                </form>
            </div>
        </div>
    </center>
</div>

{% endblock %}
